<%= form_with(model: expenditure) do |form| %>
  <% if expenditure.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expenditure.errors.count, "error") %> prohibited this expenditure from being saved:</h2>

      <ul>
        <% expenditure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

<div>
<p> Choose One or More Expense category for this expenditure</p>
<div>
 <% @expenses.each do |expense| %>
            <% checked = expense.id.to_i == params[:expense_id].to_i ? { checked: true } : {} %>
            <div>
                <%= form.check_box :expense_ids, { multiple: true}.merge(checked), expense.id, nil%>
                
                <%= label_tag "expense_#{expense.id}", expense.name %>
            </div>
  <% end %>
   </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
